.Calendar{
  display: flex;
  width: 95vw;
}

.Calendar__left{
  width: 50%;
    margin-left: 59px;
    margin-top: 38px;
}

.Calendar__Title{
  width: 100%;
}

.Calendar__mainTitle{
  font-size: 40px;
}

.Calendar__right{
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 135px;
  margin-left: 40px;
}

.Calendar__eventTitle{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Calendar__eventMaintitle{
  font-weight: 600;
  font-size: 18px;
}

.Calendar__eventMaindate{
  font-weight: 300;
  font-size: 18px;
}