.Home{
  display: flex;
  width: 95vw;
}

.Home__left{
  margin-left: 59px;
  margin-top: 38px;
}

.Home__Title{
  width: 65%;
}

.Home__mainTitle{
  font-size: 40px;
}

.Home__underTitle{
  font-size: 32px;
  font-weight: 600;
  color: #3B79B1;
}

.Home__H3{
  font-weight: 600;
  font-size: 18px;
}

.Home__actuality{
  width: 420px;
  height: 230px;
  background-color: #F9F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 48px;
}

.Home__document{
  margin-top: 48px;
}

.Home__titleDoc{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.Home__docSection{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 24px;
}

.Home__files{
  margin-left: 15px;
}

.Home__profile{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 153px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 68px;
}

.Home__pic{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Home__profileText{
  width: 65%;
}

.Home__text{
  margin-top: 10px;
  font-size: 14px;
}

.Home__eventText{
  margin-top: 48px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Home__eventTitle{
  width: 300px;
  display: inline-flex;
  align-items: center;
}

.Home__numEvent{
  background-color: #3B79B1;
  color: #F9F9F9;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
}

.Home__more{
  margin-top: 30px;
}

.Home__eventUp{
  height: 200px;
  padding: 15px;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 10px;
}

.Home__LastDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}